<%= button_to(t(:new_tournament), new_admin_tournament_path, method: :get) %>
<nav class="navbar">
  <div class="container-fluid">
	<div class="navbar-nav ms-auto">
	  <%= link_to t(:submitted), admin_tournaments_path(status: :submitted) %>
	</div>
	<div class="navbar-nav ms-auto">
	  <%= link_to t(:pending), admin_tournaments_path(status: :pending) %>
	</div>
	<div class="navbar-nav ms-auto">
	  <%= link_to t(:published), admin_tournaments_path(status: :published) %>
	</div>
  </div>
</nav>
<% @tournaments.each do |tournament| %>
<%= render tournament %>
<% end %>
<% if @old_tournaments.present? %>
<h2><%= t :past_tournaments %></h2>
<% @old_tournaments.each do |tournament| %>
<%= render tournament %>
<% end
  end %>
