<div class="container rounded border border-dark mb-2 p-2 <%= class_for_tournament(tournament) %>">
  <div class="row mb-2">
	<div class="col-12 col-lg-2">
	  <%= tournament.game %>
	</div>
	<div class="col-12 col-lg-2">
	  <%= maybe_link_name(tournament) %>
	</div>
	<div class="col-12 col-lg-1">
	  <span class="d-lg-none"><%= t(:deadline) %> <%= ldate tournament.registration_close, :day_month %></span> <span class="d-none d-lg-inline"><%= ldate tournament.registration_close, :short %></span>
	</div>
	<div class="col-12 col-lg-1">
	  <%= link_to(t(:rules), "#{tournament.rules_url}") if tournament.rules_url.present? %>
	</div>
	<div class="col-12 col-lg-1">
	  <%= link_to(t(:register), "#{tournament.registration_url}") if tournament.registration_url.present? %>
	</div>
	<div class="col-12 col-lg-3">
	  <%== divided_content(tournament.restrictions) %>
	</div>
	<div class="col-12 col-lg-2">
	  <%== divided_content(tournament.notes) %>
	</div>
  </div>
  <div class="row collapse" id="moreInfo<%= tournament.id %>">
	<div class="col-12 col-lg-3">
	  <%= t(:tournament_dates) %>: <%= "#{ldate tournament.start_date, :short} - #{ldate tournament.end_date, :short}" %>
	</div>
	<div class="col-12 col-lg-2">
	  <%= t(:tier) %>: <%= tournament.tier %> <%= "(#{tournament.prize_pool})" if tournament.prize_pool.present? %>
	</div>
	<div class="col-12 col-lg-2">
	  <%= t(:format) %>: <%= tournament.format %>
	</div>
	<div class="col-12 col-lg-4">
	  <%= t :organizers %>: <%= tournament.organizers %>
	</div>
  </div>
  <div>
	  <a data-bs-toggle="collapse" href="#moreInfo<%= tournament.id%>" role="button" aria-expanded="false" aria-controls="moreInfo<%= tournament.id %>">
&hellip;</a>
  </div>
</div>
