<div class="row d-none d-lg-flex ">
  <div class="col-2 nav justify-content-center">
    <%= t(:game) %>
  </div>
  <div class="col-2 nav justify-content-center">
    <%= t(:name) %>
  </div>
  <div class="col-1 nav justify-content-center">
    <%= t(:deadline) %>
  </div>
  <div class="col-2 nav justify-content-center">
    <%= t(:links) %>
  </div>
  <div class="col-3 nav justify-content-center">
    <%= t(:restrictions) %>
  </div>
  <div class="col-2 nav justify-content-center">
    <%= t(:notes) %>
  </div>
</div>
<%= render partial: 'opportunities/tournament', collection: @tournaments %>
