<h1>FAQ</h1>
<p><%= t(:purpose) %></p>

<div class="faq">
  <p class="faq_question"><%= t(:why_sign_up) %></p>
  <p class="faq_answer"><%= t(:reason_sign_up) %></p>
</div>

<div class="faq">
  <p class="faq_question"><%= t(:how_to_claim) %></p>
  <p class="faq_answer"><%= t(:way_to_claim) %></p>
</div>

<div>
  <p class="faq_question"><%= t(:explain_workflow) %></p>
  <p class="faq_answer"><%= t(:workflow_explanation) %></p>
</div>
