<h1><%= t(:privacy_policy) %></h1>
<h2>Introduction</h2>
<p>Welcome to the Privacy Policy of tourneyopportunities.net. The terms &ldquo;we&rdquo;, &ldquo;us&rdquo; and &ldquo;our&rdquo; refer to the administrators of this site.</p>
<h2>1.&nbsp;Summary and Scope</h2>
<p>This Privacy Policy applies to all personal data that we collect via tourneyopportunities.net.</p>
<p>In some places in Tourney Opportunities, there are links to other websites or applications. This Privacy Policy does not apply to these third-party websites or applications. If you want to know what those websites or applications do with your personal information, you should check their privacy policies on their websites.</p>
<h2>2.&nbsp;Information We Collect and How We Use It</h2>
<h3>What personal information we collect</h3>
<h4>Information provided by you</h4>
<p>Tourney Opportunities collects personal information that is voluntarily provided by you. This includes our email address when you register, as well as information you may give to prove your affiliation with a tournament.</p>
<h4>Information collected via the use of Tourney Opportunities</h4>
<p>If you use Tourney Opportunities, we can collect information from you via the use of cookies and similar technologies. Cookies are really small files that are being installed on your computer and that collect technical information, such as your IP-address, device characteristics, what preferences you have and how you browse through Tourney Opportunities. Cookies help us and you to get a smoothly working website and application that is personalised based on your preferences. If you want to know more about the use of cookies and similar technologies, please read our <%= link_to('Cookie Policy', compliance_privacy_policy_path(anchor: :cookie_policy)) %>.</p>
<h3>Use of Your Information</h3>
<p>Tourney Opportunities uses your personal information only for the following purposes:</p>
<ul>
<li>For the purposes for which you provided it;</li>
<li>To respond to your requests and questions;</li>
<li>For internal research and reporting of the use of Tourney Opportunities;</li>
<li>To improve the content and features of Tourney Opportunities;</li>
<li>To allow us to personalise the content that you see on Tourney Opportunities;</li>
<li>When we have a legal obligation to process your personal data;</li>
<li>To make sure Tourney Opportunities is working smoothly and to fix errors; and</li>
</ul>
<h2>3.&nbsp;Minors and parents</h2>
<p>We do not intend to collect and process personal information of minors under 13. Therefore, Tourney Opportunities can only be used by people who are 13 years and older. Tourney Opportunities does not knowingly collect or store any personal information from minors under 13 in the US, or under any other age threshold in other jurisdictions.</p>
<p>If parents or guardians believe that we have unintentionally collected their children&rsquo;s personal information or otherwise used their children&rsquo;s personal information, they may reach out to us via the Contacting Us section.</p>
<h2>4.&nbsp;Your Choices</h2>
<p>You can easily change your preferences on your personal information that is collected by us. You can change your personal information in your personal profile, delete your account, or contact us if you want to change your preferences. You can also change your cookie settings. You can find information on how to change your cookie settings in our <%= link_to 'cookie policy', compliance_privacy_policy_path(anchor: :cookie_policy) %>.</p>
<h2>5.&nbsp;Sharing information</h2>
<p>Tourney Opportunities works together with other organisations to make sure Tourney Opportunities is working properly and to provide the best Tourney Opportunities experience to you. Therefore, it is necessary that we share your personal information with these organisations. And sometimes Tourney Opportunities is obliged to share your personal information with others, for example when we are forced to do so by a judgemental decision.</p>
<p>We share your personal information in the following cases:</p>
<ul>
<li>With your consent with vendors, sponsors, and business partners to provide you with goods or services you have requested, or to provide advertisements which are selected by us;</li>
<li>If we are obliged to do so by law, regulation or legal process;</li>
<li>If we receive a command from the National Data Protection Authority or other relevant authorities;</li>
<li>With organisations who perform certain services for us that we cannot do ourselves, such as IT-partners, and for other legitimate business purposes, such as potential partnership opportunities;</li>
<li>If it is necessary to exercise, establish or defend our legal rights;</li>
<li>If it is necessary to protect the rights, property or safety of any person; and</li>
<li>In case the ownership of Tourney Opportunities changes.</li>
</ul>
<h2>6.&nbsp;Security</h2>
<p>Your personal information is safe with us! Tourney Opportunities has taken a range of organisational and technical security measures to protect your personal information. We have also taken steps to ensure that your personal information is protected from misuse and alteration. Moreover, we always request our partners to take similar security measures to protect your personal information. However, we cannot guarantee the complete security of any personal information that we process.</p>
<h2>7.&nbsp;Retention Periods</h2>
<p>We do not keep your personal information longer than necessary. Once we have achieved our purposes that we have described in this Privacy Policy, we will delete or anonymize your personal information. Except when there is a legal obligation to keep your personal information for a certain time period, for example in case of fiscal obligations. In that case, we will safely keep your personal information until that period expires. We can also keep your personal information if we have a legitimate interest to do so. For example when we have to exercise, establish or defend our legal rights.</p>
<h2>8.&nbsp;Your rights</h2>
<p>You have multiple rights regarding the personal information we collect and use. You can request access to the personal information we have of you, and you can request correction, updating or deletion of your personal information. To exercise these rights, please contact us using the contact details that are described in the Contact Us section of this Privacy Policy.</p>
<h2>9.&nbsp;Contacting Us</h2>
<p>If you have any question on how we process your personal data, on this privacy policy, or if you want to exercise your rights, please do not hesitate to <%= link_to 'contact us', new_messages_path %>!</p>
<h2>10.&nbsp;Important Notice</h2>
<p>We have laid down some specific privacy related information for users located in the US, EEA and Brazil below. Please read that information carefully!</p>
<p>Also, the Tourney Opportunities Terms of Use apply on the use of Tourney Opportunities. You can find the Tourney Opportunities Terms of Use <%= link_to 'here', compliance_terms_path %>.</p>
<h2>11.&nbsp;For users from California</h2>
<p>California residents have the right to request information on the personal information we disclose to other organisations for the direct marketing purposes of those organisations. We want to let you know that Tourney Opportunities does not share your personal information with unaffiliated organisations for their own direct marketing purposes. And even if that happens, we will always ask for your consent before we share your personal information with these organisations.</p>
<p>California residents also have the following rights regarding the personal information we collect about you:</p>
<ol>
<li>the right to know what personal information we have collected about you, and the purpose for which it was collected;</li>
<li>the right to request that we delete any personal information we have collected from you (subject to certain exceptions, as outlined in the CCPA);</li>
<li>the right to opt-out of the sale of your personal information; and</li>
<li>the right to non- discrimination for exercising your rights.</li>
</ol>
<p>For the avoidance of doubt, we do not sell your personal information. If we did, California residents would have the right to opt out of the sale of your personal information, pursuant to the rights granted above.</p>
<p>If at any time you wish to opt out of having your personal information shared with third parties and/or receiving information from Tourney Opportunities (via e-mail or postal mail) about new products, services, or promotions, please contact us! We will be happy to honour your request.</p>
<h3>California Privacy Rights for Minor Users</h3>
<p>California residents under the age of 18 have the right to view, correct, or delete personal information provided by you or publicly posted by you. You can file your request by contacting us!</p>
<p>We will be happy to review, update or remove personal information and/or content. After removal, it can happen that residual copies of personal information and/or content may remain in our backup systems. But we will always try to permanently remove your personal information.</p>
<p>We may still keep your personal information to resolve disputes, enforce our user agreement, or comply with legal requirements. In this case, your personal information will be blocked from use for any other purpose.</p>
<h2>12.&nbsp;For users from the European Economic Area (EEA)</h2>
<p>If you are a resident of one of the EEA-countries, being all the EU-countries, Norway, Liechtenstein and Iceland, this section applies to you. In these countries, the General Data Protection Regulation (&ldquo;GDPR&rdquo;) applies, so we must provide you with some extra information.</p>
<h3>Legal Basis for Processing Your Personal Information</h3>
<p>We only use your personal information if we have a legal reason to do so. We use your personal information for the purposes set out below.</p>
<h4>Consent</h4>
<p>Sometimes we will collect and use your personal information if you have given your consent. For example in the following cases:</p>
<ul>
<li>Sending newsletters and direct emails about Tourney Opportunities;</li>
<li>Providing certain other marketing features;</li>
<li>Using cookies or similar technologies for marketing purposes;</li>
<li>Providing certain personal information to affiliated organisations as explained in this Privacy Policy</li>
</ul>
<p>You can always withdraw your consent. If you want to withdraw your consent, please contact us using our contact details from the Contacting Us section of this privacy policy.</p>
<h4>Legitimate Interest</h4>
<p>We use your personal information when we have a legitimate interest to do so. This includes, for example, processing:</p>
<ul>
<li>to provide you with requested customer service or technical support;</li>
<li>to make sure Tourney Opportunities (the website and the app) is working properly</li>
<li>to debug and improve Tourney Opportunities;</li>
<li>in order to give you exclusive content, personalise your online experience with us and contact you in accordance with applicable marketing preferences; and</li>
<li>for the establishment, exercise or defence of legal claims or whenever courts are acting in their judicial capacity.</li>
</ul>
<p>Our interest is to make sure Tourney Opportunities is working properly and is free of errors and crashes. Moreover, we want to give you the best user experience of Tourney Opportunities, by providing a personalised experience.</p>
<h4>Legal Obligation</h4>
<p>We process your personal information for compliance with a legal obligation to which we are subject.</p>
<h3>Your Rights to Your Personal Information</h3>
<p>The GDPR gives you more rights than already set out in the &ldquo;Your Rights&rdquo;-section above. These extra rights are the following:</p>
<ul>
<li>You may object to the processing of your personal information. You only have this right if we use legitimate interest as our legal basis. For example, you can exercise your right of objection when you do not want to receive marketing emails anymore.</li>
<li>In certain circumstances, you can request that we transfer your personal information to a different organisation of your choice.</li>
<li>Where we rely on your consent in order to process your personal information, you have the right to withdraw such consent to further use of your personal information at any time.</li>
</ul>
<p>For each of the rights described above, you can send your request to us by using the contact details set out in the Contacting Us section above. We will react to your request within four weeks.</p>
<p>We hope that we can satisfy queries you may have about the way we process your personal information. However, if you have unresolved concerns, you can file a complaint with us. In that case, we will try to solve your concerns. If you remain unhappy about our solution, you also have the right to complain to data protection authorities. You can bring the complaint in your member state of residence, place of work or where an alleged infringement of data protection law occurred.</p>
<h3>International data transfers</h3>
<p>We use servers in the United States to store your personal information. If you are an EEA-resident, this means that your personal information will be transferred from the EEA to the United States. We meet all the GDPR-requirements for international data transfers. We use Standard Contractual Clauses to protect the personal information that is stored in the United States as well as possible. Moreover, we have implemented additional safeguards to optimise the security of your personal information in the United States.</p>
<h2>13. For Users in Brazil</h2>
<p>If you are a Brazil resident, Brazilian Law No. 13,709/2018, the General Data Protection Law (&ldquo;LGPD&rdquo;) is applicable.</p>
<p>Brazilian residents have extra rights regarding your personal information, namely the following:</p>
<ul>
<li>You can ask for confirmation that we collect and use your personal information;</li>
<li>You can access the personal information we have collected;</li>
<li>You can ask to correct your personal information if it is incomplete, inaccurate or outdated;</li>
<li>You can ask to anonymize, block or delete your personal information if we have no legal ground to collect or use your personal information;</li>
<li>If we share information with other organisations, you can ask for more information on that;</li>
<li>You have the right to revoke consent if you have given consent for the collection and use of your personal information. Also, you can ask for more information on the possibility of not providing consent and what will happen if you withdraw or deny consent.</li>
</ul>
<p>If you want to exercise any of your rights, you can contact our Data Protection Officer in Brazil. The contact details can be found in the Contact Us section.</p>
<h3>Minor users</h3>
<p>If you are below the age of 12, we need to have consent of one of your parents or guardians to be able to collect and use your personal information. If we do not have the consent, you are not allowed to use Tourney Opportunities.</p>
<h3>National authority</h3>
<p>We try our best to handle your personal information as good and secure as possible. However, if you have unresolved concerns, you can file a complaint with us. In that case, we will try to solve your concerns. If you remain unhappy about our solution, you also have the right to complain to the National Data Protection Authority (ANPD) of Brazil.</p>
<h3>Legal Basis for Processing your Personal Information</h3>
<p>We can only collect and use your personal information if we have a legal reason to do so. We only collect and use your personal data in the following events:</p>
<ul>
<li>If we have your consent to collect and use your personal information;</li>
<li>If we have a legitimate interest to collect and use your personal information, for example if we have to defend ourselves against a legal claim;</li>
<li>If we are obliged to collect and use your personal information by law.</li>
</ul>
<p>We collect and use your personal information on the following</p>
<h2>14.&nbsp;For Users Outside the US, the EEA and Brazil</h2>
<p>If you are a resident of a country outside the US, the EEA or Brazil, this section applies to you.</p>
<p>Your personal information will be transferred to and stored on servers in the United States or other countries. Tourney Opportunities always makes sure that your personal information is well secured. If needed, we use Standard Contractual Clauses or other measures that we are obliged to take in your country to protect your personal information as well as possible.</p>
<%== content_tag(:h2, '15. Cookie Policy', id: :cookie_policy) %>
<p>Tourney Opportunities uses cookies and/or similar technologies on Tourney Opportunities. A cookie is a small file which is being installed on a web page or application to collect information. The cookie collects all kinds of information, for example on the use of Tourney Opportunities. With this information, Tourney Opportunities can provide you with the best Tourney Opportunities experience.</p>
<p>In this cookie policy, we will explain what cookies we use and for what purpose we use cookies.</p>
<ul>
  <li>Session Cookie. We use a cookie to check if you are logged in or not. Without accepting cookies, you will not be able to access the restricted pages of the site.</li>
  <li>Locale Cookie. If you choose a locale, we store this choice in a cookie to ensure your preference is preserved across pages. Without accepting cookies, you will not be able to change your locale.</li>
  <li>Cookie acceptance cookie. We use a cookie to mark your acceptance of cookies. Without accepting cookies, you will be asked to accept cookies each time you access Tourney Opportunities.</li>
</ul>
<h3>Managing cookies</h3>
<p>You can always change your cookie preferences by:</p>
<ul>
<li>opening the "Help" menu on the browser menu bar. Most browsers will tell you how you can disable or delete cookies or set your browser to alert you when cookies are being sent to your computer;</li>
<li>visiting your mobile device developer's website or reviewing your device manual. Most mobile device developers will tell you how you can manage the settings on your mobile device to opt out of and/or delete cookies from your mobile device, or to limit the use of and/or opt out of targeted advertising; or</li>
<li>visiting <%= link_to 'NAI Consumer Opt Out', 'http://optout.networkadvertising.org/' %> and/or <%= link_to 'WebChoices Tool', 'http://optout.aboutads.info/' %>, or, if you are in the EU, <%= link_to 'Your Online Choices', 'http://www.youronlinechoices.eu/' %>, for choices to opt out of advertising.</li>
</ul>
<h2>16.&nbsp;Updates of this Privacy Policy</h2>
<p>This privacy policy may change from time to time, depending on the features we offer and changing regulations. We advise you to regularly check this document.</p>
<p>Version: July 2023.</p>
