<!DOCTYPE html>
<html>
  <head>
    <title>Tourney Opportunities</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
	<div class="container">
	  <div class="banner rounded row mt-5 mb-5">
		<h1 class="col-10 col-lg-11 text-lg-center pt-2">Age of Empires <%= t(:registration_opportunities) %></h1>
		<div class="col-2 col-lg-1 mt-2 mb-2">
         <%= image_tag('profile_800x800.png', width: 80, class: 'rounded', alt: :logo) %>
		</div>
	  </div>
      <% if notice %><p class="alert alert-success"><%= notice %></p><% end %>
      <% if alert %><p class="alert alert-danger"><%= alert %></p><% end %>
      <%= yield %>
      <% if current_page?(root_path) %>
      <nav class="navbar">
        <div>
          <%= link_to 'Terms of Use', '/terms.html' %>
        </div>
        <div>
          <%= link_to 'Contact Site Admin', 'https://www.aoezone.net/conversations/add?to=felix.feroc' %>
        </div>
      </nav>
      <% else %>
	  <nav class="navbar <%= 'collapse' unless current_user %>" id="bottom-navbar">
		  <div>
			<%= link_to t(:manage_tournaments), admin_tournaments_path %>
		  </div>
		  <div>
			<%= link_to t(:messages), admin_messages_url  if current_user %>
		  </div>
          <div>
			<%= link_to t(:claims), admin_tournament_claims_url  if current_user %>
          </div>
		  <div>
			<%= button_to(t(:sign_out), destroy_user_session_path, method: :delete) if current_user %>
		  </div>
	  </nav>
      <nav class="navbar">
		  <div>
			<%= link_to t(:home_page), root_url %>
		  </div>
          <% unless current_user %>
          <div>
            <%= link_to t('devise.shared.links.sign_in'), new_user_session_path %>
          </div>
          <div>
            <%= link_to t('devise.shared.links.sign_up'), new_user_registration_path %>
          </div>
          <% end %>
		  <div>
			<%= link_to t(:privacy_policy), compliance_privacy_policy_path %>
		  </div>
		  <div>
			<%= link_to t(:terms_of_use), compliance_terms_path %>
		  </div>
		  <div>
			<%= link_to 'FAQ', compliance_faq_path %>
		  </div>
      </nav>
      <% end %>
	</div>
  </body>
</html>
